@media screen and (max-width:400px){
    .nav-container{
        flex-direction: column;
    }
    .logo-container{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .nav-menu-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-left: 30px;
    }
    .nav-menu-container li{
        margin-bottom: 10px;    
        
    }
}